<div id="navBar">
    <div ng-controller="NavCtrl">
        <div class="navbar topnav row-fluid">
            <div class="navbounder">
                <ul class="nav pull-left nav-logo">
                    <li><a href="https://sharewave.com">
                        <img src="https://s3.amazonaws.com/sharewave/www/images/logo-large.png"/>

                    </a></li>
                </ul>
                <ul class="hidden-phone nav pull-left content-pages">
                    <li>
                        <a href="https://sharewave.com/features">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.sharewave.com">
                            Blog
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right nav-item">
                                <li>

                         <div class="standard-button small-standard-button green hidden-phone">
                            <button class="btn" onclick="window.location='https://www.sharewave.com/register/signup';"style="margin-right:20px;">Sign Up</button>
                        </div>
                        
                    </li>
                    
                <li>

                         <div class="standard-button small-standard-button blue hidden-phone">
                            <button class="btn" onclick="window.location='https://www.sharewave.com/login';">Log In</button>
                        </div>
                        
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>