<div id="navBar">
        <div class="navbar topnav row-fluid">
            <div class="navbounder">
                <div class="content-pages">
                    <ul ng-hide="navState.userid" class="hidden-phone nav">
                        <li> <a target="_self" href="https://sharewave.com/">
                            Cap Table
                        </a>

                        </li>
                        <li> <a target="_self" href="https://sharewave.com/options">
                            Option Grants
                        </a>

                        </li>
                        <li> <a target="_self" href="https://sharewave.com/communication">
                            Communication
                        </a>

                        </li>
                        <li> <a target="_self" href="https://sharewave.com/pricing">
                            Pricing
                        </a>

                        </li>
                        <li> <a class="active" target="_self" href="http://blog.sharewave.com">
                            Blog
                        </a>

                        </li>
                    </ul>
                </div>
                <ul class="nav pull-left nav-logo">
                    <li>
                        <a href="https://sharewave.com">
                            <img style="width: 140px !important; height: 25px;" src="{{ site.url }}/images/logo-wht.png"/>
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right nav-item dropdown-list hidden-phone">
                    <li>
                        <a href="https://twitter.com/sharewaveteam" target="_blank"><span data-icon="&#xe035;" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="http://feeds.feedburner.com/Sharewave" target="_blank"><span data-icon="&#xe606;" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a onclick="window.location='#subscribe'; document.getElementById('subscribe-button').focus();"><span data-icon="&#xe024;" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>

        </div>
</div>