<div id="navBar">
        <div class="navbar topnav row-fluid">
            <div class="navbounder">
                <ul class="nav pull-left nav-logo">
                    <li><a href="https://sharewave.com">
                        <img src="https://s3.amazonaws.com/sharewave/www/images/logo-large.png"/>

                    </a></li>
                </ul>
                <ul class="hidden-phone nav pull-left content-pages">
                    <li>
                        <a href="/news">
                            News
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.sharewave.com">
                            Just Released
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right nav-item">
                                <li>

                         <div class="standard-button small-standard-button green hidden-phone">
                            <button class="btn" onclick="window.location='#subscribe';">Subscribe</button>
                        </div>
                        
                    </li>
                    
                <li>
                        
                    </li>
                </ul>
            </div>

        </div>
</div>