<!-- Subscribe -->

<div id="subscribe">
  <div class="row-fluid subscribebg">
    <div class="span10 offset1 text-center">
    <div class="spacer40"></div>  
      <div class="subleft">
              <h3>Stay in touch for weekly commentary on startup fundraising, shareholder data &amp; records, and investor relations</h3>
      </div>
      <div class="subright">
            <div>
                <form action="http://sharewave.us5.list-manage1.com/subscribe/post?u=13b733b77902e91a87b575f40&id=14054ad93f" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" class="SubscriptionInput" name="EMAIL" placeholder="Your Email Address">
                <button type="submit" name="subscribe" class="button">Subscribe</button>
                </form>
            </div>
            <div class="social-icons"> 
              <a href="https://twitter.com/sharewaveteam" target="_blank"><span data-icon="&#xe035;" aria-hidden="true"></span></a>
              <a href="https://www.linkedin.com/company/2994986" target="_blank"><span data-icon="&#xe036;" aria-hidden="true"></span></a>
              <a href="https://www.facebook.com/pages/Sharewave/347158692072430" target="_blank"><span data-icon="&#xe037;" aria-hidden="true"></span></a>
            </div>
      </div>
      <div class="spacer40"></div>
      </div>
    </div>
  </div>
</div>