/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100% !important;
  background-color:#FFFFFF;

}

body {
  overflow-y: scroll;
  overflow-x: hidden; 
  text-align: center;  
}

a:hover {
    text-decoration: none;
}

p, input, button, select, textarea, address { 
    font-family: 'FS Elliot Web Light', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #7f8c8d;
}

p strong {
    font-family: 'FS Elliot Web Light', sans-serif;
    font-weight: normal;

}

p {
    line-height: 24px;
}

blockquote p{
    line-height: 2;
}

strong {
    color: #34495E;
    font-weight: normal;
    display:inline-block;
    padding-top:20px;
}

select, textarea,  input[type="email"] { 
    font-size:12px
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: -112px;
    margin-left: auto;
}

li {
    list-style-type: none;
}

ul.tag-list li {
    float: left;
    padding-right: 10px;
    list-style-type: none;
}

/* Spacing */

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer90 { height: 90px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


/* Bootstrap overrides */

.container {
    width: 1024px;
}

label {
    cursor: default;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
  font-family: 'FS Elliot Web Light', sans-serif !important;
  font-size: 21px !important;
  font-weight: normal !important; 
  color: #8D8D8D;
  line-height: 34px;
  margin-bottom: 3em;
}

.posts h1 {
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 36px !important;
    font-weight: normal !important; 
    color: #666666;
    display: inline-block;
}

.posts a {
  color: #666666;
}

.posts a:hover {
  color: #666666;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


.site {
  text-align: left;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.date {
    font-family: 'FS Elliot Web Italic', sans-serif !important;
    font-size: 14px !important;
    color: #A6A6A6;
    margin: 0 0 25px;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Top Nav
/*
/*****************************************************************************/


#navBar {
    height:70px;
}

.navbounder {
    margin: 0 auto;
    padding: 0 40px;
}

.topnav {
    height: 40px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #1E2D3D;
    padding: 20px 0 20px 0;
}

.topnav .nav > li > a {
    text-shadow: 0 0 0;
    color: rgb(166, 166, 166);
    height:40px !important;
    line-height: 40px !important;
    margin: 0 40px 0 0;
    padding: 0 0 0 0;
    width: 30px;
    text-align: center;
}

.topnav .nav.content-pages > li > a {
    text-align: center;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #C6C6C6;
    font-family: 'FS Elliot Web Bold', sans-serif;
    letter-spacing: 0.1em;
}

.topnav .nav.content-pages > li > a:hover {
   color: #FFFFFF;
}

.navbar .nav {
    margin-right: 100px;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.minimumGap {
    min-height:150px;
}

.push {
  height: 112px;
}

.footerLinks ul {

    list-style-type:none;
    min-height: 20px;
    margin: 10px 0;
    padding: 3px 0px;
    color: #8d8d8d;
}

.footerLinks li {
    display: inline;
    padding: 0px 8px;
}

.footerLinks li a {
    color: #8d8d8d;
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}


.footerLinks li:last-child {
    border-right: 0px;
}

.footerBar {
    height: 112px;
    background-color: #1e2d3d;
}

#copyrightBar {
    border-top: solid 1px #34495e;
    padding-top: 20px;

}

.copyright {
    color: #8d8d8d;
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.copyright.pull-right {
    margin-right: 8px;
}

.copyright.pull-left {
    margin-left: 8px;
}

.copyrightLinks {
    display:inline-block;

}

.copyrightLinks ul {
    list-style-type:none;
    min-height: 20px;
    color: rgb(141, 141, 141);
}

.copyrightLinks li {
    display: inline;
    padding: 0 8px;
}

.copyrightLinks li a {
    color: rgb(141, 141, 141);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}

.copyrightLinks li:last-child {
    border-right: 0;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Static Elements
/*
/*****************************************************************************/

.btn {
    background-color: #FFFFFF;
    background-image: none;
    border: none;
    text-shadow: none;
}

.static {
    padding-top: 65px;
}

.static p, .static a {
    font-size: 14px;
}


.static p.title {
    color: #34495E;

}
.static a {
    color: #3498DB;
    text-decoration: none;

}

.static a:hover {
    color: #2980B9
}

.standard-button > button {
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #1ABC96;
    width: 130px;
    min-height: 32px;
    position: relative;
}
.standard-button > button:hover {
    background-color: #15A085;
    color: #FFFFFF;
}
.standard-button > button:disabled {
    background-color: #8CDDCA;
    color: #FFFFFF;
}

.standard-button.blue > button {
    background-color: #3498DB;
}
.standard-button.blue > button:hover {
    background-color: #2980B9;
}

.small-standard-button > button {
    width: 76px;
}

.small-standard-button.blue > button {
    background-color: #3498DB;
}
.small-standard-button.blue > button:hover {
    background-color: #2980B9;
}

.social-icons a, .social-icons a:hover {
    color: #1E2D3D;
    font-size: 18px;
    padding-left: 12px;
}

