---
layout: default
title: Alan McGee
---

<div class="postwidth">

<h1>Posts by {{ site.authors.alan }} </h1>

	<div id="home" class="postwidth">
	   {% for post in posts.author.alan %}
	      <h1><a class="header" href="{{ post.url }}">{{ post.title }}</a></h1>
	      <p class="date"> {{ post.date | date: '%B %-d, %Y' }} &nbsp; // &nbsp;
	        <a href="{{ post.url }}" data-disqus-identifier="{{ post.url }}"></a>
	      </p>
	      {{ post.excerpt }}
	      <h4><a href="{{ post.url }}">Read More +</a></h4>
	   {% endfor %}
	</div>

</div>

{% include subscribe.html %}  